@model IEnumerable<ViaWines_Automatizacion.Models.Orden>

@{
    ViewData["Title"] = "Proceso";

}



<section class="content-header">
    <div class="">
        <h1>
            Proceso
            <small>del pedido</small>
        </h1>
    </div>
    <div class="row">
        @using (Html.BeginForm("Proceso", "Proceso", FormMethod.Post, new { @style = "border:none" }))
        {
            <div class="col-xs-12 col-md-6">
                <div class="input-group date ">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="datepicker" name="fecha" onload="obtenerFecha()">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        }


        <div class="col-xs-12 col-md-6">
            <select class="form-control select2" id="numeroOrden" onchange="mostrarOrden()">
                <option disabled selected value="null">Seleccione una orden</option>

                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        @if (item.Estado == 1)
                        {
                            <option value="@item.OrdenFabricacion" selected>@item.OrdenFabricacion</option>
                        }
                        else
                        {
                            <option value="@item.OrdenFabricacion">@item.OrdenFabricacion</option>
                        }
                    }
                }
            </select>
        </div>
    </div>

</section>

<section class="content">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Botellas finalizadas</span>
                    <span class="info-box-number">900</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="progress-description">
                        70% de avance
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cajas finalizadas</span>
                    <span class="info-box-number">150</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="progress-description">
                        70% de avance
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cantidad de botella por minuto</span>
                    <span class="info-box-number">120</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon"><i class="fa fa-files-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cantidad de cajas por minuto</span>
                    <span class="info-box-number">20</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Small boxes (Stat box) -->
    <!--div class="row">

    </div-->
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
            <p>
                <button type="button" class="btn btn-block bg-purple" onclick="exist_proces_ini()">Inicio</button>
            </p>
            <p>
                <button type="button" class="btn btn-block bg-orange" data-toggle="modal" data-target="#modal-pausar">Pausar</button>
            </p>
            <p>
                <button type="button" class="btn btn-block bg-maroon" data-toggle="modal" data-target="#modal-posponer">Posponer</button>
            </p>
            <p>
                <button type="button" class="btn btn-block bg-olive" data-toggle="modal" data-target="#modal-finalizar">Terminar</button>
            </p>
        </div>
        <!-- ./col -->

        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-text-width"></i>
                    <h3 class="box-title">Descripción de la orden</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>SKU</dt>
                        <dd id="SKU"></dd>
                        <dt>Descripción del producto</dt>
                        <dd id="descripcionProducto"></dd>
                        <dt>Cantidad de cajas planificadas</dt>
                        <dd id="cantCajasPlan"></dd>
                        <dt>Cantidad de botellas planificadas</dt>
                        <dd id="cantBotellasPlan"></dd>
                        <dt>Hora de inicio planificada</dt>
                        <dd id="horaInicioPlan"></dd>
                        <dt>Hora de término planificada</dt>
                        <dd id="horaTerminoPlan"></dd>
                        <dt>Fecha planificada</dt>
                        <dd id="fechaPlan"></dd>
                        <dt>Estado</dt>
                        <dd id="estado"></dd>

                    </dl>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- ./col -->

    </div>



    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Monitoreo de etiquetado de botellas</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Hora de inicio</th>
                            <th>Hora de término</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>8:40</td>
                            <td>8:45</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>8:40</td>
                            <td>8:46</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>8:41</td>
                            <td>8:46</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>8:41</td>
                            <td>8:46</td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Monitoreo de cajas</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Hora de finalización</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>9:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>9:00</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>9:01</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>9:01</td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="modal fade" id="modal-inicio">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-purple">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-ini-process">Iniciar el proceso de producción</h4>
                </div>
                <div class="modal-body">
                    <p id="body-ini-process">¿Seguro que desea inicializar el proceso de producción?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn bg-black" onclick="IniciarProceso()">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal fade" id="modal-pausar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-orange">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Proceso en pausa</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn bg-black">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal fade" id="modal-posponer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-maroon">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Posponer el proceso</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn bg-black">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal fade" id="modal-finalizar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-olive">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Finalizar proceso</h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro de finalizar el proceso de producción?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn bg-black">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->



    <div class="modal fade" id="modal-alerta">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-purple">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Falló iniciar proceso</h4>
                </div>
                <div class="modal-body">
                    <p>No se puede iniciar proceso dado que existe otro ejecutandose</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-black" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function () {
    var modelo = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model,Newtonsoft.Json.Formatting.Indented));
    var fecha = (modelo[0]["FechaFabricacion"]).split('T')[0];
    $("#datepicker").datepicker({ format: 'yyyy-mm-dd' }).val(fecha);
});
</script>

<script>
function IniciarProceso() {
    var fecha = $("#datepicker").val();
    var orden = $("#numeroOrden").val();
    var datos = {
        Orden: orden,
        Estado: 1,
        Fecha: fecha
    };
    $.ajax(
        {
            url: '/Proceso/Proceso',
            data: datos,
            dataType: 'json; charset=utf-8',
            type: 'POST',
            success: function (data)
            {
                alert('Success');
            },
        });
    $('#modal-inicio').modal('hide');
}

</script>
<script>
function mostrarOrden()
{
    var ordenSelect = document.getElementById("numeroOrden");
    var optionSelected = ordenSelect.options[ordenSelect.selectedIndex].value;

    var modelo = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model,Newtonsoft.Json.Formatting.Indented));

    for (var i = 0; i < modelo.length; i++)
    {
        if (modelo[i]["OrdenFabricacion"] == optionSelected)
        {
            document.getElementById("SKU").innerHTML = modelo[i]["SKU"];
            document.getElementById("descripcionProducto").innerHTML = modelo[i]["Descripcion"];
            document.getElementById("cantCajasPlan").innerHTML = modelo[i]["CajasPlanificadas"];
            document.getElementById("cantBotellasPlan").innerHTML = modelo[i]["BotellasPlanificadas"];
            document.getElementById("horaInicioPlan").innerHTML = (modelo[i]["HoraInicioPlanificada"]).split('T')[1];
            document.getElementById("horaTerminoPlan").innerHTML = (modelo[i]["HoraTerminoPlanificada"]).split('T')[1];
            document.getElementById("fechaPlan").innerHTML = (modelo[i]["FechaFabricacion"]).split('T')[0];
            document.getElementById("estado").innerHTML = modelo[i]["Estado"];
        }
    }
    }
</script>

<script>
    function exist_proces_ini()
    {
        $.ajax
        (
            {
                url: '/Proceso/Exit_proces_ini',
                data: {},
                dataType: 'json; charset=utf-8',
                type: 'POST',
                    success: function (data) {
                        $('#title-ini-process').
                        $("#modal-inicio").modal("show");
                    },
                    error: function () {
                        $("#modal-alerta").modal("show");
                    },
            }
        );
    }
</script>
