@model IEnumerable<ViaWines_Automatizacion.Models.Orden>

@{
    ViewData["Title"] = "Proceso";

}



<section class="content-header">
    <div class="">
        <h1>
            Proceso
            <small>del pedido</small>
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <select class="form-control select2" id="numeroOrden" onchange="seleccionarOrden()">
                <option disabled selected value="null">Seleccione una orden</option>

                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        @if (item.Estado == 1)
                        {
                            <option value="@item.OrdenFabricacion" selected>@item.OrdenFabricacion</option>
                        }
                        else
                        {
                            <option value="@item.OrdenFabricacion">@item.OrdenFabricacion</option>
                        }
                    }
                }
            </select>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Botellas finalizadas</span>
                    <span class="info-box-number">900</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="progress-description">
                        70% de avance
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cajas finalizadas</span>
                    <span class="info-box-number">150</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="progress-description">
                        70% de avance
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cantidad de botella por minuto</span>
                    <span class="info-box-number">120</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon"><i class="fa fa-files-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cantidad de cajas por minuto</span>
                    <span class="info-box-number">20</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Small boxes (Stat box) -->
    <!--div class="row">

    </div-->
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
            <p>
                <button type="button" id="btnInicio" class="btn btn-block bg-purple" >Inicio</button>
            </p>
            <p>
                <button type="button" id="btnPausar" class="btn btn-block bg-orange" >Pausar</button>
            </p>
            <p>
                <button type="button" id="btnPosponer" class="btn btn-block bg-maroon" >Posponer</button>
            </p>
            <p>
                <button type="button" id="btnFinalizar" class="btn btn-block bg-olive" >Terminar</button>
            </p>
        </div>
        <!-- ./col -->

        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-text-width"></i>
                    <h3 class="box-title">Descripción de la orden</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>SKU</dt>
                        <dd id="SKU"></dd>
                        <dt>Descripción del producto</dt>
                        <dd id="descripcionProducto"></dd>
                        <dt>Cantidad de cajas planificadas</dt>
                        <dd id="cantCajasPlan"></dd>
                        <dt>Cantidad de botellas planificadas</dt>
                        <dd id="cantBotellasPlan"></dd>
                        <dt>Hora de inicio planificada</dt>
                        <dd id="horaInicioPlan"></dd>
                        <dt>Hora de término planificada</dt>
                        <dd id="horaTerminoPlan"></dd>
                        <dt>Fecha planificada</dt>
                        <dd id="fechaPlan"></dd>
                        <dt>Estado</dt>
                        <dd id="estado"></dd>

                    </dl>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- ./col -->

    </div>



    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Monitoreo de etiquetado de botellas</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tablaBotellas" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Hora de inicio</th>
                                <th>Hora de término</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Monitoreo de cajas</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Hora de finalización</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>9:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>9:00</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>9:01</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>9:01</td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="modal fade" id="modal-inicio">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-purple">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-ini-process"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-ini-process"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnInicioProceso" class="btn bg-black">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal fade" id="modal-pausar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-orange">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-pause-process"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-pause-process"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnPausarProceso" class="btn bg-black">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal fade" id="modal-posponer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-maroon">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-postpone-process"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-postpone-process"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnPosponerProceso" class="btn bg-black">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal fade" id="modal-finalizar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-olive">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-finalize-process"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-finalize-process"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnFinalizarProceso" class="btn bg-black">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->



    <div class="modal fade" id="modal-alerta">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-purple">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title-alert"></h4>
                </div>
                <div class="modal-body">
                    <p id="body-alert"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-black" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</section>


<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script-->
<script type="text/javascript" src="~/js/proceso.js"></script>
<script>
    function seleccionarOrden() {
        var modelo = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
        mostrarOrden(modelo);
    }
</script>

<script>
    $('#btnInicio').click(function () { exist_proces_ini(1); });
    $('#btnInicioProceso').click(function () { Actualizar_Estado(1); });
    $('#btnPausar').click(function () { exist_proces_ini(2); });
    $('#btnPausarProceso').click(function () { Actualizar_Estado(2); });
    $('#btnPosponer').click(function () { exist_proces_ini(3); });
    $('#btnPosponerProceso').click(function () { Actualizar_Estado(3); });
    $('#btnFinalizar').click(function () { exist_proces_ini(4); });
    $('#btnFinalizarProceso').click(function () { Actualizar_Estado(4); });
</script>



<script>
    $(document).ready(function () {

        var modelo = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model,Newtonsoft.Json.Formatting.Indented));

        for (var i = 0; i < modelo.length; i++) {
            if (modelo[i]["Estado"] == 1) {
                document.getElementById("SKU").innerHTML = modelo[i]["SKU"];
                document.getElementById("descripcionProducto").innerHTML = modelo[i]["Descripcion"];
                document.getElementById("cantCajasPlan").innerHTML = modelo[i]["CajasPlanificadas"];
                document.getElementById("cantBotellasPlan").innerHTML = modelo[i]["BotellasPlanificadas"];
                document.getElementById("horaInicioPlan").innerHTML = modelo[i]["HoraInicioPlanificada"];
                document.getElementById("horaTerminoPlan").innerHTML = modelo[i]["HoraTerminoPlanificada"];
                document.getElementById("fechaPlan").innerHTML = (modelo[i]["FechaFabricacion"]).split('T')[0];
                switch (modelo[i]["Estado"]) {
                    case 0:
                        document.getElementById("estado").innerHTML = 'No iniciada';
                        break;
                    case 1:
                        document.getElementById("estado").innerHTML = 'Iniciada';
                        break;
                    case 2:
                        document.getElementById("estado").innerHTML = 'Pausada';
                        break;
                    case 3:
                        document.getElementById("estado").innerHTML = 'Pospuesta';
                        break;
                    default:
                        document.getElementById("estado").innerHTML = 'Finalizada';
                }

            }
        }

    });

    $(document).ready(function () {
        var modelo = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
        for (var i = 0; i < modelo.length; i++) {
            if (modelo[i]["Estado"] == 1) {
                monitoreoBotellas(modelo[i]["OrdenFabricacion"]);
            }
        }
        
    });
</script>


<script>
    function actualizarTablaBotella() {
        var modelo = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
        var ordenSelect = document.getElementById("numeroOrden");
        var optionSelected = ordenSelect.options[ordenSelect.selectedIndex].value;
        for (var i = 0; i < modelo.length; i++) {
            if (modelo[i]["Estado"] == 1 && optionSelected == modelo[i]["OrdenFabricacion"]) {
                monitoreoBotellas(modelo[i]["OrdenFabricacion"]);
            }
        }
    }
    setInterval(actualizarTablaBotella, 60000);
</script>

<!--script type="text/javascript">
    setTimeout('actualizarTablaBotella()', 5000);
</script-->
